.your-score {
    font-family: Anton, sans-serif;

  h1{
    font-size: 50px;
    transform: rotate(-5deg);
  }
}

.highscore-text {
  font-family: Teko-Light, sans-serif;
  font-size: 22px;
}

.form-label {
  font-family: Teko-Regular, sans-serif;
  font-size: 18px;
}

.form-input {
  font-family: Teko-Light, sans-serif;
  font-size: 18px;
}

.highscore-button {
  font-family: Teko-SemiBold, sans-serif;
  font-size: 18px;
}
