<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="ion-text-center your-score" >
        <h1>
          <ion-text color="danger">
            GAME OVER
          </ion-text>
        </h1>
        <h3>
          <ion-text color="primary">
            YOUR SCORE
          </ion-text>
        </h3>
        <h3>
          <ion-text color="secondary">
           {{highscore}}
          </ion-text>
        </h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="ion-text-center">
        <p class="highscore-text">
          Do you want to save this to your highscores?
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="ion-text-center">
        <form [formGroup]="form" class="highscore-form">
          <ion-item>
            <ion-label class="form-label">
              Name
            </ion-label>
            <ion-input type="text" formControlName="name" class="form-input"></ion-input>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="ion-text-center">
        <p class="highscore-text">
          Take a photo!
        </p>
        <ion-button (click)="takePicture()" >
          <ion-icon name="camera"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="ion-text-center">
        <ion-button (click)="save()" color="primary" class="highscore-button">
          Save Highscore
        </ion-button>
        <ion-button routerLink="/game" color="tertiary" class="highscore-button">
          Play Again
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
