<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>high-scores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-item *ngFor="let highscore of highscores | slice:0:5">
          <ion-avatar slot="start">
          <img [src]="highscore.photo" alt="">
          </ion-avatar>
          <p>
            {{highscore.score}}
          </p>
          <p slot="end">
            {{highscore.name}}
          </p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="ion-text-center">
        <ion-button routerLink="/game">
          PLAY AGAIN
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
