.highscore-title {
  font-family: Anton, sans-serif;
}

.highscore-button {
  font-family: Teko-SemiBold, sans-serif;
  font-size: 18px;
}

.highscore-info {
  font-family: Teko-Light, sans-serif;
  font-size: 18px;
}
