<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="highscore-title">HALL OF FAME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-col size-md="6" offset-md="3">
        <ion-item *ngFor="let highscore of highscores | slice:0:5">
          <ion-avatar slot="start">
          <img [src]="highscore.photo" alt="">
          </ion-avatar>
          <p class="highscore-info">
            {{highscore.score}}
          </p>
          <p class="highscore-info" slot="end">
            {{highscore.name}}
          </p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="ion-text-center ion-margin-top">
        <ion-button (click)="goToGame()" class="highscore-button" color="primary">
          Play Again
        </ion-button>
        <ion-button (click)="resetScores()" class="highscore-button" color="danger">
          Delete Scores
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
