.headline {
  transform: rotate(-5deg);
  h1 {
    font-family: Anton, sans-serif;
    font-size: 80px;
  }
}

.subtitle {
  h4 {
    font-family: Teko-Regular, sans-serif;
    font-size: 2em;
  }
}

.hint {
  p {
    font-family: Teko-Light, sans-serif;
    font-size: 20px;
  };
}
