.points {
  p {
    font-family: Teko-Light, sans-serif;
    font-size: 18px;
  }
}

.counter {
  h1 {
    font-family: Anton, sans-serif;
  }
}

.fizz-options {
  h2 {
    font-family: Anton, sans-serif;
  }
}

.button {
  font-family: Teko-SemiBold, sans-serif;
  font-size: 20px;
}
